In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
cols=['Shear', 'Stagger', "Stretch",'Propeller','Opening']
df1=pd.read_csv('Sp_NA_csvs/sp_nat_all.csv')
df2=pd.read_csv('Sp_NA_csvs/sp_mm20_all_bps.csv')
df3=pd.read_csv('Sp_NA_csvs/sp_16_19_all_bps.csv')
df4=pd.read_csv('Sp_NA_csvs/sp_mm17-20_all_bps.csv')
df1=df1.drop(columns=['sp_20_major','sp_20_minor','sp_19_major','sp_19_minor','sp_18_major','sp_18_minor','sp_17_major','sp_17_minor'])
name=[*list(df1.columns)]
df2.head()

In [3]:
#li_rd=[]
li_nat=[]
li_mm20=[]
li_mm16_19=[]
li_mm17_20=[]

print(len(df1), len(df2),len(df3),len(df4)) 

df1.columns = range(df1.shape[1])
df2.columns = range(df2.shape[1])
df3.columns = range(df3.shape[1])
df4.columns = range(df4.shape[1])

# for i in range(len(df1)):
#    li_rd.append('Sp_RNA_DNA')

for i in range(len(df1)):
    li_nat.append('Sp_native')

for i in range(len(df2)):
    li_mm20.append('Sp_mm20')

for i in range(len(df3)):
    li_mm16_19.append('Sp_mm16_19')
    
for i in range(len(df4)):
    li_mm17_20.append('Sp_mm17-20')
    

#df1['Labels']=li_rd
df1['Labels']=li_nat
df2['Labels']=li_mm20
df3['Labels']=li_mm16_19
df4['Labels']=li_mm17_20


print(len(df1), len(df2),len(df3), len(df4))

47231 32668 10327 8833
47231 32668 10327 8833

In [4]:
dfs=[df1,df2,df3,df4]
sp_df=pd.concat(dfs)
name=['sp_all_bp20_shear','sp_all_bp20_stretch','sp_all_bp20_stagger','sp_all_bp20_buckle','sp_all_bp20_propeller','sp_all_bp20_opening','sp_all_bp19_shear','sp_all_bp19_stretch','sp_all_bp19_stagger','sp_all_bp19_buckle','sp_all_bp19_propeller','sp_all_bp19_opening','sp_all_bp18_shear','sp_all_bp18_stretch','sp_all_bp18_stagger','sp_all_bp18_buckle','sp_all_bp18_propeller','sp_all_bp18_opening','sp_all_bp17_shear','sp_all_bp17_stretch','sp_all_bp17_stagger','sp_all_bp17_buckle','sp_all_bp17_propeller','sp_all_bp17_opening','Label']
df_na=pd.DataFrame()
df_na=pd.concat([df1,df2,df3,df4])
df_na.columns=name
df_na.to_csv('SpCas9-NA-str-prop.csv', index=False)

In [6]:
cont1=pd.read_csv('sgRNA-tDNA-count_nodt_500ns_spnat_nodt_spnat.csv').reset_index(drop=True)
cont2=pd.read_csv('sgRNA-tDNA-count_spmm20_nodt_nodt_spmm20.csv').reset_index(drop=True)
cont3=pd.read_csv('sgRNA-tDNA-count_nodt_500ns_spmm16_19_nodt_spmm16_19.csv').reset_index(drop=True)
cont4=pd.read_csv('sgRNA-tDNA-count_nodt_500ns_spmm17-20_nodt_spmm17-20.csv').reset_index(drop=True)

data=pd.concat([cont1,cont2,cont3,cont4],axis=1).reset_index(drop=True)
data.head()
filtered_cont=data.iloc[:,[1,4,7,10]]
filtered_cont.columns=['Sp_native','Sp_mm20','Sp_mm16_19','Sp_mm17-20']
# 
# data_an_save.columns=['Label','sgRNA-tDNA cont']
# data_an_save.to_csv('SpCas9_all-sgrna-tdna_cont.csv', index=False)
# data_an_save.head()

# cont=cont1.merge(cont3,how="inner",on='#Frame')
filtered_cont.head()
cont=filtered_cont.stack().reset_index().sort_values(by=['level_1'], ascending=False).iloc[:,1:]
cont.columns=['Label','sgRNA-tDNA cont']
cont.to_csv('SpCas9_all-sgrna-tdna_cont.csv', index=False)
cont.head()

            Label  sgRNA-tDNA cont
0       Sp_native            929.0
133532  Sp_native            438.0
48740   Sp_native            485.0
133560  Sp_native            469.0
48744   Sp_native            474.0

In [11]:
cont.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 206590 entries, 0 to 144630
Data columns (total 2 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Label            206590 non-null  object
 1   sgRNA-tDNA cont  206590 non-null  float64
dtypes: float64(1), object(1)
memory usage: 4.7+ MB

In [12]:
#LIE between sgRNA and tDNA
sp_hy1=pd.read_csv('lie_spnat_sgrna-tdna.csv')
sp_hy2=pd.read_csv('lie_spmm20_sgrna-tdna.csv')
sp_hy3=pd.read_csv('lie_spmm16_19_sgrna-tdna.csv')
sp_hy4=pd.read_csv('lie_spmm17_20_sgrna-tdna.csv')
sp_hy1.head()

sp_hy1.reset_index(drop=True, inplace=True)
sp_hy2.reset_index(drop=True, inplace=True)
sp_hy3.reset_index(drop=True, inplace=True)
sp_hy4.reset_index(drop=True, inplace=True)

sp_hy1.columns=['Frame','sp-ELE','sp-VDW']
sp_hy2.columns=['Frame','spmm20-ELE','spmm20-VDW']
sp_hy3.columns=['Frame','spmm16_19-ELE','spmm16_19-VDW']
sp_hy4.columns=['Frame','spmm17-20-ELE','spmm17-20-VDW']

sphy_ele=pd.concat([sp_hy1.iloc[:,1:2],sp_hy2.iloc[:,1:2],sp_hy3.iloc[:,1:2],sp_hy4.iloc[:,1:2]],axis=1)
sphy_vdw=pd.concat([sp_hy1.iloc[:,2:],sp_hy2.iloc[:,2:],sp_hy3.iloc[:,2:],sp_hy4.iloc[:,2:]],axis=1)
#sp_vdw.head()
sphy_ele.head()
#rmsd.columns=['Sp_native','Sp_mm20','Sp_mm16_19','Sp_mm17-20']
esp_hy=pd.DataFrame()
esp_hy['Sp_native']=sphy_ele['sp-ELE']+sphy_vdw['sp-VDW']
esp_hy['Sp_mm20']=sphy_ele['spmm20-ELE']+sphy_vdw['spmm20-VDW']
esp_hy['Sp_mm16_19']=sphy_ele['spmm16_19-ELE']+sphy_vdw['spmm16_19-VDW']
esp_hy['Sp_mm17-20']=sphy_ele['spmm17-20-ELE']+sphy_vdw['spmm17-20-VDW']
#esp_hy.to_csv('LIE-sp-all_RNP.csv', index=False)
esp_hy.head()
out=esp_hy.stack().reset_index().sort_values(by=['level_1'], ascending=False).iloc[:,1:]
out.columns=['Label','LIE']
out.to_csv('LIE-sp-all_sgRNA-tdna-nodt.csv', index=False)
out.head()

            Label       LIE
0       Sp_native -264.0086
133532  Sp_native -227.1491
48740   Sp_native -158.1960
133560  Sp_native -241.4879
48744   Sp_native -166.2298

In [13]:
out.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 206590 entries, 0 to 144630
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Label   206590 non-null  object
 1   LIE     206590 non-null  float64
dtypes: float64(1), object(1)
memory usage: 4.7+ MB

In [14]:
sasa=pd.read_csv('../native_non-native_conts/SpCas9_all-protein_SASA.csv')
sasa.Label.unique()

array(['Sp_native', 'Sp_mm20', 'Sp_mm17-20', 'Sp_mm16_19'], dtype=object)

In [15]:
angle1=pd.read_csv('angle_sp.csv').reset_index(drop=True)
angle2=pd.read_csv('angle_spmm20.csv').reset_index(drop=True)
angle3=pd.read_csv('angle_spmm16_19.csv').reset_index(drop=True)
angle4=pd.read_csv('angle_spmm17-20.csv').reset_index(drop=True)

In [16]:
sasa1=pd.read_csv('sasa_sp.csv').reset_index(drop=True)
sasa2=pd.read_csv('sasa_spmm20.csv').reset_index(drop=True)
sasa3=pd.read_csv('sasa_spmm16_19.csv').reset_index(drop=True)
sasa4=pd.read_csv('sasa_spmm17-20.csv').reset_index(drop=True)

In [17]:
rog1=pd.read_csv('rog_sp.csv').reset_index(drop=True)
rog2=pd.read_csv('rog_spmm20.csv').reset_index(drop=True)
rog3=pd.read_csv('rog_spmm16_19.csv').reset_index(drop=True)
rog4=pd.read_csv('rog_spmm17-20.csv').reset_index(drop=True)

In [18]:
rmsd1=pd.read_csv('rmsd_sp.csv').reset_index(drop=True)
rmsd2=pd.read_csv('rmsd_spmm20.csv').reset_index(drop=True)
rmsd3=pd.read_csv('rmsd_spmm16_19.csv').reset_index(drop=True)
rmsd4=pd.read_csv('rmsd_spmm17-20.csv').reset_index(drop=True)

In [19]:
angle=pd.concat([angle1,angle2,angle3,angle4],axis=1).reset_index(drop=True)
angle.columns=['Sp_native','Sp_mm20','Sp_mm16_19','Sp_mm17-20']
angle=angle.stack().reset_index().sort_values(by=['level_1'], ascending=False).iloc[:,1:]
angle.columns=['Label','Angle']
angle.to_csv('SpCas9_all-protein_angle.csv', index=False)
angle.head()

            Label     Angle
0       Sp_native  103.3011
133540  Sp_native  103.8637
133572  Sp_native  102.8327
48744   Sp_native   95.4666
133568  Sp_native  102.6869

In [20]:
angle.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 206610 entries, 0 to 144642
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Label   206610 non-null  object
 1   Angle   206610 non-null  object
dtypes: object(2)
memory usage: 4.7+ MB

In [21]:
rmsd=pd.concat([rmsd1,rmsd2,rmsd3,rmsd4],axis=1).reset_index(drop=True)
rmsd.columns=['Sp_native','Sp_mm20','Sp_mm16_19','Sp_mm17-20']
rmsd=rmsd.stack().reset_index().sort_values(by=['level_1'], ascending=False).iloc[:,1:]
rmsd.columns=['Label','RMSD']
rmsd.to_csv('SpCas9_all-protein_RMSD.csv', index=False)
rmsd.head()

            Label    RMSD
0       Sp_native  0.0000
133532  Sp_native  3.9789
48740   Sp_native  3.7594
133560  Sp_native  4.0142
48744   Sp_native  3.7774

In [22]:
rmsd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 206590 entries, 0 to 144630
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Label   206590 non-null  object
 1   RMSD    206590 non-null  float64
dtypes: float64(1), object(1)
memory usage: 4.7+ MB

In [23]:
rog=pd.concat([rog1,rog2,rog3,rog4],axis=1).reset_index(drop=True)
rog.columns=['Sp_native','Sp_mm20','Sp_mm16_19','Sp_mm17-20']
rog=rog.stack().reset_index().sort_values(by=['level_1'], ascending=False).iloc[:,1:]
rog.columns=['Label','ROG']
rog.to_csv('SpCas9_all-protein_ROG.csv', index=False)
rog.head()

            Label      ROG
0       Sp_native  38.5234
133532  Sp_native  37.7180
48740   Sp_native  38.0602
133560  Sp_native  37.8444
48744   Sp_native  38.0603

In [24]:
sasa=pd.concat([sasa1,sasa2,sasa3,sasa4],axis=1).reset_index(drop=True)
sasa.columns=['Sp_native','Sp_mm20','Sp_mm16_19','Sp_mm17-20']
sasa=sasa.stack().reset_index().sort_values(by=['level_1'], ascending=False).iloc[:,1:]
sasa.columns=['Label','SASA']
sasa.to_csv('SpCas9_all-protein_SASA.csv', index=False)
sasa.head()

            Label        SASA
0       Sp_native  14157.2066
133532  Sp_native  13732.5256
48740   Sp_native  14321.8791
133560  Sp_native  13995.0482
48744   Sp_native  14417.0563

In [25]:
sp1_ruvc=pd.read_csv('ruvc-hyrbid-count_nodt_500ns_spnat_nodt_spnat.csv').reset_index(drop=True)
sp2_ruvc=pd.read_csv('ruvc-hyrbid-count_spmm20_nodt_nodt_spmm20.csv').reset_index(drop=True)
sp3_ruvc=pd.read_csv('ruvc-hyrbid-count_nodt_500ns_spmm16_19_nodt_spmm16_19.csv').reset_index(drop=True)
sp4_ruvc=pd.read_csv('ruvc-hyrbid-count_nodt_500ns_spmm17-20_nodt_spmm17-20.csv').reset_index(drop=True)

sp1_hnh=pd.read_csv('hnh-hybrid-count_nodt_500ns_spnat_nodt_spnat.csv').reset_index(drop=True)
sp2_hnh=pd.read_csv('hnh-hybrid-count_spmm20_nodt_nodt_spmm20.csv').reset_index(drop=True)
sp3_hnh=pd.read_csv('hnh-hybrid-count_nodt_500ns_spmm16_19_nodt_spmm16_19.csv').reset_index(drop=True)
sp4_hnh=pd.read_csv('hnh-hybrid-count_nodt_500ns_spmm17-20_nodt_spmm17-20.csv').reset_index(drop=True)

In [26]:
# Contacts between ntDNA and tDNA
sp1_dna=pd.read_csv('ntDNA-tDNA-count_nodt_500ns_spnat_nodt_spnat.csv').reset_index(drop=True)
sp2_dna=pd.read_csv('ntDNA-tDNA-count_spmm20_nodt_nodt_spmm20.csv').reset_index(drop=True)
sp3_dna=pd.read_csv('ntDNA-tDNA-count_nodt_500ns_spmm16_19_nodt_spmm16_19.csv').reset_index(drop=True)
sp4_dna=pd.read_csv('ntDNA-tDNA-count_nodt_500ns_spmm17-20_nodt_spmm17-20.csv').reset_index(drop=True)

In [27]:
sp1_rec1=pd.read_csv('rec1-hybrid-count_nodt_500ns_spnat_nodt_spnat.csv').reset_index(drop=True)
sp2_rec1=pd.read_csv('rec1-hybrid-count_spmm20_nodt_nodt_spmm20.csv').reset_index(drop=True)
sp3_rec1=pd.read_csv('rec1-hybrid-count_nodt_500ns_spmm16_19_nodt_spmm16_19.csv').reset_index(drop=True)
sp4_rec1=pd.read_csv('rec1-hybrid-count_nodt_500ns_spmm17-20_nodt_spmm17-20.csv').reset_index(drop=True)

In [28]:
sp1_rec2=pd.read_csv('rec2-hybrid-count_nodt_500ns_spnat_nodt_spnat.csv').reset_index(drop=True)
sp2_rec2=pd.read_csv('rec2-hybrid-count_spmm20_nodt_nodt_spmm20.csv').reset_index(drop=True)
sp3_rec2=pd.read_csv('rec2-hybrid-count_nodt_500ns_spmm16_19_nodt_spmm16_19.csv').reset_index(drop=True)
sp4_rec2=pd.read_csv('rec2-hybrid-count_nodt_500ns_spmm17-20_nodt_spmm17-20.csv').reset_index(drop=True)

In [29]:
sp1_rec3=pd.read_csv('rec3-hybrid-count_nodt_500ns_spnat_nodt_spnat.csv').reset_index(drop=True)
sp2_rec3=pd.read_csv('rec3-hybrid-count_spmm20_nodt_nodt_spmm20.csv').reset_index(drop=True)
sp3_rec3=pd.read_csv('rec3-hybrid-count_nodt_500ns_spmm16_19_nodt_spmm16_19.csv').reset_index(drop=True)
sp4_rec3=pd.read_csv('rec3-hybrid-count_nodt_500ns_spmm17-20_nodt_spmm17-20.csv').reset_index(drop=True)

In [30]:
li_nat = []
li_mm20 = []
li_mm16_19 = []
li_mm17_20 = []

smallest_length = min(len(sp1_hnh), len(sp2_hnh), len(sp3_hnh), len(sp4_hnh))

sp1_hnh = sp1_hnh[:smallest_length]
sp2_hnh = sp2_hnh[:smallest_length]
sp3_hnh = sp3_hnh[:smallest_length]
sp4_hnh = sp4_hnh[:smallest_length]

for i in range(smallest_length):
    li_nat.append('Sp_native' + '-' + str(sp1_hnh['#Frame'][i]))
    li_mm20.append('Sp_mm20' + '-' + str(sp1_hnh['#Frame'][i]))
    li_mm16_19.append('Sp_mm16_19' + '-' + str(sp1_hnh['#Frame'][i]))
    li_mm17_20.append('Sp_mm17-20' + '-' + str(sp1_hnh['#Frame'][i]))

sp1_hnh['Labels'] = li_nat
sp2_hnh['Labels'] = li_mm20
sp3_hnh['Labels'] = li_mm16_19
sp4_hnh['Labels'] = li_mm17_20
len(li_mm20)

47232

In [31]:
li_nat = []
li_mm20 = []
li_mm16_19 = []
li_mm17_20 = []

smallest_length = min(len(sp1_dna), len(sp2_dna), len(sp3_dna), len(sp4_dna))

sp1_dna = sp1_dna[:smallest_length]
sp2_dna = sp2_dna[:smallest_length]
sp3_dna = sp3_dna[:smallest_length]
sp4_dna = sp4_dna[:smallest_length]

for i in range(smallest_length):
    li_nat.append('Sp_native' + '-' + str(sp1_dna['#Frame'][i]))
    li_mm20.append('Sp_mm20' + '-' + str(sp1_dna['#Frame'][i]))
    li_mm16_19.append('Sp_mm16_19' + '-' + str(sp1_dna['#Frame'][i]))
    li_mm17_20.append('Sp_mm17-20' + '-' + str(sp1_dna['#Frame'][i]))

sp1_dna['Labels'] = li_nat
sp2_dna['Labels'] = li_mm20
sp3_dna['Labels'] = li_mm16_19
sp4_dna['Labels'] = li_mm17_20
len(li_mm20)

47232

In [32]:
li_nat = []
li_mm20 = []
li_mm16_19 = []
li_mm17_20 = []

smallest_length = min(len(sp1_rec1), len(sp2_rec1), len(sp3_rec1), len(sp4_rec1))

sp1_rec1 = sp1_rec1[:smallest_length]
sp2_rec1 = sp2_rec1[:smallest_length]
sp3_rec1 = sp3_rec1[:smallest_length]
sp4_rec1 = sp4_rec1[:smallest_length]

for i in range(smallest_length):
    li_nat.append('Sp_native' + '-' + str(sp1_rec1['#Frame'][i]))
    li_mm20.append('Sp_mm20' + '-' + str(sp1_rec1['#Frame'][i]))
    li_mm16_19.append('Sp_mm16_19' + '-' + str(sp1_rec1['#Frame'][i]))
    li_mm17_20.append('Sp_mm17-20' + '-' + str(sp1_rec1['#Frame'][i]))

sp1_rec1['Labels'] = li_nat
sp2_rec1['Labels'] = li_mm20
sp3_rec1['Labels'] = li_mm16_19
sp4_rec1['Labels'] = li_mm17_20
len(li_mm20)

47232

In [33]:
li_nat = []
li_mm20 = []
li_mm16_19 = []
li_mm17_20 = []

smallest_length = min(len(sp1_rec2), len(sp2_rec2), len(sp3_rec2), len(sp4_rec2))

sp1_rec2 = sp1_rec2[:smallest_length]
sp2_rec2 = sp2_rec2[:smallest_length]
sp3_rec2 = sp3_rec2[:smallest_length]
sp4_rec2 = sp4_rec2[:smallest_length]

for i in range(smallest_length):
    li_nat.append('Sp_native' + '-' + str(sp1_rec2['#Frame'][i]))
    li_mm20.append('Sp_mm20' + '-' + str(sp1_rec2['#Frame'][i]))
    li_mm16_19.append('Sp_mm16_19' + '-' + str(sp1_rec2['#Frame'][i]))
    li_mm17_20.append('Sp_mm17-20' + '-' + str(sp1_rec2['#Frame'][i]))

sp1_rec2['Labels'] = li_nat
sp2_rec2['Labels'] = li_mm20
sp3_rec2['Labels'] = li_mm16_19
sp4_rec2['Labels'] = li_mm17_20
len(li_mm20)

47232

In [34]:
li_nat = []
li_mm20 = []
li_mm16_19 = []
li_mm17_20 = []

smallest_length = min(len(sp1_rec3), len(sp2_rec3), len(sp3_rec3), len(sp4_rec3))

sp1_rec3 = sp1_rec3[:smallest_length]
sp2_rec3 = sp2_rec3[:smallest_length]
sp3_rec3 = sp3_rec3[:smallest_length]
sp4_rec3 = sp4_rec3[:smallest_length]

for i in range(smallest_length):
    li_nat.append('Sp_native' + '-' + str(sp1_rec3['#Frame'][i]))
    li_mm20.append('Sp_mm20' + '-' + str(sp1_rec3['#Frame'][i]))
    li_mm16_19.append('Sp_mm16_19' + '-' + str(sp1_rec3['#Frame'][i]))
    li_mm17_20.append('Sp_mm17-20' + '-' + str(sp1_rec3['#Frame'][i]))

sp1_rec3['Labels'] = li_nat
sp2_rec3['Labels'] = li_mm20
sp3_rec3['Labels'] = li_mm16_19
sp4_rec3['Labels'] = li_mm17_20
len(li_mm20)

47232

In [35]:
li_nat = []
li_mm20 = []
li_mm16_19 = []
li_mm17_20 = []

smallest_length = min(len(sp1_ruvc), len(sp2_ruvc), len(sp3_ruvc), len(sp4_ruvc))

sp1_ruvc = sp1_ruvc[:smallest_length]
sp2_ruvc = sp2_ruvc[:smallest_length]
sp3_ruvc = sp3_ruvc[:smallest_length]
sp4_ruvc = sp4_ruvc[:smallest_length]

for i in range(smallest_length):
    li_nat.append('Sp_native' + '-' + str(sp1_ruvc['#Frame'][i]))
    li_mm20.append('Sp_mm20' + '-' + str(sp1_ruvc['#Frame'][i]))
    li_mm16_19.append('Sp_mm16_19' + '-' + str(sp1_ruvc['#Frame'][i]))
    li_mm17_20.append('Sp_mm17-20' + '-' + str(sp1_ruvc['#Frame'][i]))

sp1_ruvc['Labels'] = li_nat
sp2_ruvc['Labels'] = li_mm20
sp3_ruvc['Labels'] = li_mm16_19
sp4_ruvc['Labels'] = li_mm17_20
len(li_mm20)

47232

In [36]:
sp1_rec3

,#Frame,Contacts_00019[native],Contacts_00019[nonnative],Labels
0,1,473,0,Sp_native-1
1,2,366,167,Sp_native-2
2,3,329,160,Sp_native-3
3,4,356,165,Sp_native-4
4,5,333,161,Sp_native-5
...,...,...,...,...
47227,47228,130,721,Sp_native-47228
47228,47229,133,707,Sp_native-47229
47229,47230,137,807,Sp_native-47230
47230,47231,134,733,Sp_native-47231
47231,47232,127,784,Sp_native-47232

In [37]:
sp1_hnh.columns=['Frames','Sp-hy-HNH_native','Sp-hy-HNH_non-native','Label']
sp2_hnh.columns=['Frames','Sp-hy-HNH_native','Sp-hy-HNH_non-native','Label']
sp3_hnh.columns=['Frames','Sp-hy-HNH_native','Sp-hy-HNH_non-native','Label']
sp4_hnh.columns=['Frames','Sp-hy-HNH_native','Sp-hy-HNH_non-native','Label']

sp1_ruvc.columns=['Frames','Sp-hy-RuvC_native','Sp-hy-RuvC_non-native','Label']
sp2_ruvc.columns=['Frames','Sp-hy-RuvC_native','Sp-hy-RuvC_non-native','Label']
sp3_ruvc.columns=['Frames','Sp-hy-RuvC_native','Sp-hy-RuvC_non-native','Label']
sp4_ruvc.columns=['Frames','Sp-hy-RuvC_native','Sp-hy-RuvC_non-native','Label']

sp1_rec1.columns=['Frames','Sp-hy-REC1_native','Sp-hy-REC1_non-native','Label']
sp2_rec1.columns=['Frames','Sp-hy-REC1_native','Sp-hy-REC1_non-native','Label']
sp3_rec1.columns=['Frames','Sp-hy-REC1_native','Sp-hy-REC1_non-native','Label']
sp4_rec1.columns=['Frames','Sp-hy-REC1_native','Sp-hy-REC1_non-native','Label']

sp1_rec2.columns=['Frames','Sp-hy-REC2_native','Sp-hy-REC2_non-native','Label']
sp2_rec2.columns=['Frames','Sp-hy-REC2_native','Sp-hy-REC2_non-native','Label']
sp3_rec2.columns=['Frames','Sp-hy-REC2_native','Sp-hy-REC2_non-native','Label']
sp4_rec2.columns=['Frames','Sp-hy-REC2_native','Sp-hy-REC2_non-native','Label']

sp1_rec3.columns=['Frames','Sp-hy-REC3_native','Sp-hy-REC3_non-native','Label']
sp2_rec3.columns=['Frames','Sp-hy-REC3_native','Sp-hy-REC3_non-native','Label']
sp3_rec3.columns=['Frames','Sp-hy-REC3_native','Sp-hy-REC3_non-native','Label']
sp4_rec3.columns=['Frames','Sp-hy-REC3_native','Sp-hy-REC3_non-native','Label']

sp1_dna.columns=['Frames','Sp-ntDNA-tDNA_native','Sp-ntDNA-tDNA-RuvC_non-native','Label']
sp2_dna.columns=['Frames','Sp-ntDNA-tDNA_native','Sp-ntDNA-tDNA-RuvC_non-native','Label']
sp3_dna.columns=['Frames','Sp-ntDNA-tDNA_native','Sp-ntDNA-tDNA-RuvC_non-native','Label']
sp4_dna.columns=['Frames','Sp-ntDNA-tDNA_native','Sp-ntDNA-tDNA-RuvC_non-native','Label']

In [38]:
sp_hnh_cont=pd.concat([sp1_hnh,sp2_hnh,sp3_hnh,sp4_hnh])
sp_rec1_cont=pd.concat([sp1_rec1,sp2_rec1,sp3_rec1,sp4_rec1])
sp_rec2_cont=pd.concat([sp1_rec2,sp2_rec2,sp3_rec2,sp4_rec2])
sp_rec3_cont=pd.concat([sp1_rec3,sp2_rec3,sp3_rec3,sp4_rec3])
sp_ruvc_cont=pd.concat([sp1_ruvc,sp2_ruvc,sp3_ruvc,sp4_ruvc])
sp_dna_cont=pd.concat([sp1_dna,sp2_dna,sp3_dna,sp4_dna])

sp_hnh_cont=sp_hnh_cont.drop('Frames', axis=1).rename(columns={'Labels':'Frames'})
sp_ruvc_cont=sp_ruvc_cont.drop('Frames', axis=1).rename(columns={'Labels':'Frames'})
sp_rec1_cont=sp_rec1_cont.drop('Frames', axis=1).rename(columns={'Labels':'Frames'})
sp_rec2_cont=sp_rec2_cont.drop('Frames', axis=1).rename(columns={'Labels':'Frames'})
sp_rec3_cont=sp_rec3_cont.drop('Frames', axis=1).rename(columns={'Labels':'Frames'})
sp_dna_cont=sp_dna_cont.drop('Frames', axis=1).rename(columns={'Labels':'Frames'})

sp_hnh_cont.to_csv('SpCas9_HNH-Hybrid_contacts.csv')
sp_rec1_cont.to_csv('SpCas9_REC1-Hybrid_contacts.csv')
sp_rec2_cont.to_csv('SpCas9_REC2-Hybrid_contacts.csv')
sp_rec3_cont.to_csv('SpCas9_REC3-Hybrid_contacts.csv')
sp_ruvc_cont.to_csv('SpCas9_RuvC-Hybrid_contacts.csv')
sp_dna_cont.to_csv('SpCas9_DNA-Hybrid_contacts.csv')


cont_dna=sp_dna_cont
# ele_surf=pd.read_csv('SpCas9_all_interface_electrostatistics.csv')
hnh_hy=sp_hnh_cont
rec1_hy=sp_rec1_cont
rec2_hy=sp_rec2_cont
rec3_hy=sp_rec3_cont
ruvc_hy=sp_ruvc_cont

In [39]:
print(hnh_hy.info(), rec1_hy.info(), rec2_hy.info(), rec3_hy.info(), ruvc_hy.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 188928 entries, 0 to 47231
Data columns (total 3 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Sp-hy-HNH_native      188928 non-null  int64
 1   Sp-hy-HNH_non-native  188928 non-null  int64
 2   Label                 188928 non-null  object
dtypes: int64(2), object(1)
memory usage: 5.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 188928 entries, 0 to 47231
Data columns (total 3 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Sp-hy-REC1_native      188928 non-null  int64
 1   Sp-hy-REC1_non-native  188928 non-null  int64
 2   Label                  188928 non-null  object
dtypes: int64(2), object(1)
memory usage: 5.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 188928 entries, 0 to 47231
Data columns (total 3 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Sp-hy-REC2_native      188928 non-null  int64
 1   Sp-hy-REC2_non-native  188928 non-null  int64
 2   Label                  188928 non-null  object
dtypes: int64(2), object(1)
memory usage: 5.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 188928 entries, 0 to 47231
Data columns (total 3 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Sp-hy-REC3_native      188928 non-null  int64
 1   Sp-hy-REC3_non-native  188928 non-null  int64
 2   Label                  188928 non-null  object
dtypes: int64(2), object(1)
memory usage: 5.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 188928 entries, 0 to 47231
Data columns (total 3 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Sp-hy-RuvC_native      188928 non-null  int64
 1   Sp-hy-RuvC_non-native  188928 non-null  int64
 2   Label                  188928 non-null  object
dtypes: int64(2), object(1)
memory usage: 5.8+ MB
None None None None None

In [40]:
li1=list(df_na['Label'].unique())
li2=list(rmsd['Label'].unique())
li3=list(rog['Label'].unique())
li4=list(sasa['Label'].unique())
li5=list(angle['Label'].unique())
li6=li1=list(cont['Label'].unique())
li7=li1=list(out['Label'].unique())
frames1=[]
frames2=[]
frames3=[]
frames4=[]
frames5=[]
frames6=[]
frames7=[]

#for i in range(len(df_na)):
for j in li1:
    #print(j)
    val=np.arange(1,len(df_na[df_na['Label']==j])+1)
    for k in val:
        f=j+"-"+str(k)
        frames1.append(f)
df_na['Frames']=frames1
df_na.drop(['Label'], axis=1, inplace=True)
df_na.head()

for j in li2:
    #print(j)
    val=np.arange(1,len(rmsd[rmsd['Label']==j])+1)
    for k in val:
        f=j+"-"+str(k)
        frames2.append(f)
rmsd['Frames']=frames2
rmsd.drop(['Label'], axis=1, inplace=True)
rmsd.head()

for j in li3:
    #print(j)
    val=np.arange(1,len(rog[rog['Label']==j])+1)
    for k in val:
        f=j+"-"+str(k)
        frames3.append(f)
rog['Frames']=frames3
rog.drop(['Label'], axis=1, inplace=True)
rog.head()

for j in li4:
    #print(j)
    val=np.arange(1,len(sasa[sasa['Label']==j])+1)
    for k in val:
        f=j+"-"+str(k)
        frames4.append(f)
sasa['Frames']=frames4
sasa.drop(['Label'], axis=1, inplace=True)
sasa.head()

for j in li5:
    #print(j)
    val=np.arange(1,len(angle[angle['Label']==j])+1)
    for k in val:
        f=j+"-"+str(k)
        frames5.append(f)
angle['Frames']=frames5
angle.drop(['Label'], axis=1, inplace=True)
angle.head()

for j in li6:
    #print(j)
    val=np.arange(1,len(cont[cont['Label']==j])+1)
    for k in val:
        f=j+"-"+str(k)
        frames6.append(f)
cont['Frames']=frames6
cont.drop(['Label'], axis=1, inplace=True)
cont.head()

for j in li7:
    #print(j)
    val=np.arange(1,len(out[out['Label']==j])+1)
    for k in val:
        f=j+"-"+str(k)
        frames7.append(f)
out['Frames']=frames7
out.drop(['Label'], axis=1, inplace=True)
out.head()

             LIE       Frames
0      -264.0086  Sp_native-1
133532 -227.1491  Sp_native-2
48740  -158.1960  Sp_native-3
133560 -241.4879  Sp_native-4
48744  -166.2298  Sp_native-5

In [42]:
df_na.head()

,sp_all_bp20_shear,sp_all_bp20_stretch,sp_all_bp20_stagger,sp_all_bp20_buckle,sp_all_bp20_propeller,sp_all_bp20_opening,sp_all_bp19_shear,sp_all_bp19_stretch,sp_all_bp19_stagger,sp_all_bp19_buckle,...,sp_all_bp18_buckle,sp_all_bp18_propeller,sp_all_bp18_opening,sp_all_bp17_shear,sp_all_bp17_stretch,sp_all_bp17_stagger,sp_all_bp17_buckle,sp_all_bp17_propeller,sp_all_bp17_opening,Frames
0,-2.0421,-0.1780,-1.0560,-31.9772,-1.7352,-4.9460,-0.6412,-1.8257,-0.5815,148.5415,...,3.3395,6.6069,6.6553,-0.4333,-0.1624,0.7862,22.2872,31.1506,-1.1153,Sp_native-1
1,-1.9958,-0.4045,-0.7358,-17.7083,0.1685,-1.8600,-0.0620,-2.4507,-0.7269,161.0019,...,9.4951,8.4816,1.7894,-0.1817,-0.0138,0.3989,28.8262,21.5323,2.4665,Sp_native-2
2,-2.0316,-0.4997,-0.2185,-25.4601,7.6702,-3.4554,-0.1609,2.7666,-0.2383,-162.3020,...,16.0667,2.9889,8.3827,0.2144,-0.1480,0.4320,26.4691,31.4329,3.2498,Sp_native-3
3,-2.3158,-0.4664,-0.8223,-24.1637,-4.7962,-6.8853,-0.7806,-2.0720,-0.2715,152.9802,...,-10.7428,-6.8361,1.4399,-0.3056,0.1176,0.0549,21.2694,-5.1252,0.4183,Sp_native-4
4,-2.4491,-0.4488,-0.7102,-24.5353,0.4794,-6.3136,-0.5629,-1.9565,0.0480,159.7348,...,20.9010,1.5004,4.8472,-0.6259,0.2941,-0.0302,26.4849,21.2806,-4.5027,Sp_native-5

In [44]:
df_na.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99059 entries, 0 to 8832
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sp_all_bp20_shear      61013 non-null  float64
 1   sp_all_bp20_stretch    61013 non-null  float64
 2   sp_all_bp20_stagger    61013 non-null  float64
 3   sp_all_bp20_buckle     61013 non-null  float64
 4   sp_all_bp20_propeller  61013 non-null  float64
 5   sp_all_bp20_opening    61013 non-null  float64
 6   sp_all_bp19_shear      78806 non-null  float64
 7   sp_all_bp19_stretch    78806 non-null  float64
 8   sp_all_bp19_stagger    78806 non-null  float64
 9   sp_all_bp19_buckle     78806 non-null  float64
 10  sp_all_bp19_propeller  78806 non-null  float64
 11  sp_all_bp19_opening    78806 non-null  float64
 12  sp_all_bp18_shear      94295 non-null  float64
 13  sp_all_bp18_stretch    94295 non-null  float64
 14  sp_all_bp18_stagger    94295 non-null  float64
 15  sp_all_bp18_buckle     94295 non-null  float64
 16  sp_all_bp18_propeller  94295 non-null  float64
 17  sp_all_bp18_opening    94295 non-null  float64
 18  sp_all_bp17_shear      64243 non-null  float64
 19  sp_all_bp17_stretch    64243 non-null  float64
 20  sp_all_bp17_stagger    64243 non-null  float64
 21  sp_all_bp17_buckle     64243 non-null  float64
 22  sp_all_bp17_propeller  64243 non-null  float64
 23  sp_all_bp17_opening    64243 non-null  float64
 24  Frames                 99059 non-null  object
dtypes: float64(24), object(1)
memory usage: 19.6+ MB

In [43]:
angle.head()

           Angle       Frames
0       103.3011  Sp_native-1
133540  103.8637  Sp_native-2
133572  102.8327  Sp_native-3
48744    95.4666  Sp_native-4
133568  102.6869  Sp_native-5

In [41]:
se=df_na.merge(angle, on="Frames", how="inner")
se.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99059 entries, 0 to 99058
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sp_all_bp20_shear      61013 non-null  float64
 1   sp_all_bp20_stretch    61013 non-null  float64
 2   sp_all_bp20_stagger    61013 non-null  float64
 3   sp_all_bp20_buckle     61013 non-null  float64
 4   sp_all_bp20_propeller  61013 non-null  float64
 5   sp_all_bp20_opening    61013 non-null  float64
 6   sp_all_bp19_shear      78806 non-null  float64
 7   sp_all_bp19_stretch    78806 non-null  float64
 8   sp_all_bp19_stagger    78806 non-null  float64
 9   sp_all_bp19_buckle     78806 non-null  float64
 10  sp_all_bp19_propeller  78806 non-null  float64
 11  sp_all_bp19_opening    78806 non-null  float64
 12  sp_all_bp18_shear      94295 non-null  float64
 13  sp_all_bp18_stretch    94295 non-null  float64
 14  sp_all_bp18_stagger    94295 non-null  float64
 15  sp_all_bp18_buckle     94295 non-null  float64
 16  sp_all_bp18_propeller  94295 non-null  float64
 17  sp_all_bp18_opening    94295 non-null  float64
 18  sp_all_bp17_shear      64243 non-null  float64
 19  sp_all_bp17_stretch    64243 non-null  float64
 20  sp_all_bp17_stagger    64243 non-null  float64
 21  sp_all_bp17_buckle     64243 non-null  float64
 22  sp_all_bp17_propeller  64243 non-null  float64
 23  sp_all_bp17_opening    64243 non-null  float64
 24  Frames                 99059 non-null  object
 25  Angle                  99059 non-null  object
dtypes: float64(24), object(2)
memory usage: 20.4+ MB

In [1]:
input_df=df_na.merge(angle, on="Frames", how="inner").merge(rmsd, on="Frames", how="inner").merge(sasa, on="Frames", how="inner").merge(rog, on="Frames", how="inner").merge(cont, on="Frames", how="inner").merge(out, on="Frames", how="inner")
input_df=input_df.rename(columns={"Frames": "Label"})
input_df.head()

NameError: name 'df_na' is not defined

In [57]:
input_df2=input_df.merge(cont_dna,on="Label", how="inner").merge(hnh_hy,on="Label", how="inner").merge(rec1_hy,on="Label", how="inner").merge(rec2_hy,on="Label", how="inner").merge(rec3_hy,on="Label", how="inner").merge(ruvc_hy,on="Label", how="inner")
input_df2.head()

,sp_all_bp20_shear,sp_all_bp20_stretch,sp_all_bp20_stagger,sp_all_bp20_buckle,sp_all_bp20_propeller,sp_all_bp20_opening,sp_all_bp19_shear,sp_all_bp19_stretch,sp_all_bp19_stagger,sp_all_bp19_buckle,...,Sp-hy-HNH_native,Sp-hy-HNH_non-native,Sp-hy-REC1_native,Sp-hy-REC1_non-native,Sp-hy-REC2_native,Sp-hy-REC2_non-native,Sp-hy-REC3_native,Sp-hy-REC3_non-native,Sp-hy-RuvC_native,Sp-hy-RuvC_non-native
0,-2.0421,-0.1780,-1.0560,-31.9772,-1.7352,-4.9460,-0.6412,-1.8257,-0.5815,148.5415,...,66,0,688,0,45,0,473,0,729,0
1,-1.9958,-0.4045,-0.7358,-17.7083,0.1685,-1.8600,-0.0620,-2.4507,-0.7269,161.0019,...,50,40,522,142,30,5,366,167,500,269
2,-2.0316,-0.4997,-0.2185,-25.4601,7.6702,-3.4554,-0.1609,2.7666,-0.2383,-162.3020,...,60,35,503,118,34,0,329,160,483,235
3,-2.3158,-0.4664,-0.8223,-24.1637,-4.7962,-6.8853,-0.7806,-2.0720,-0.2715,152.9802,...,53,36,466,105,35,15,356,165,536,279
4,-2.4491,-0.4488,-0.7102,-24.5353,0.4794,-6.3136,-0.5629,-1.9565,0.0480,159.7348,...,50,49,448,115,34,20,333,161,496,271

In [58]:
input_df2.to_csv('final_input_output_SpCas9_EMX1_nodt_all.csv', index= False)

In [62]:
input_df2['Label']

0             Sp_native-1
1             Sp_native-2
2             Sp_native-3
3             Sp_native-4
4             Sp_native-5
               ...
99054    Sp_mm16_19-10323
99055    Sp_mm16_19-10324
99056    Sp_mm16_19-10325
99057    Sp_mm16_19-10326
99058    Sp_mm16_19-10327
Name: Label, Length: 99059, dtype: object

In [46]:
df1_noDNA=angle.merge(sasa, on="Frames", how="inner").merge(rog, on="Frames", how="inner").merge(cont, on="Frames", how="inner").merge(out, on="Frames", how="inner")
df1_noDNA.head()

      Angle       Frames        SASA      ROG  sgRNA-tDNA cont       LIE
0  103.3011  Sp_native-1  14157.2066  38.5234            929.0 -264.0086
1  103.8637  Sp_native-2  13732.5256  37.7180            438.0 -227.1491
2  102.8327  Sp_native-3  14321.8791  38.0602            485.0 -158.1960
3   95.4666  Sp_native-4  13995.0482  37.8444            469.0 -241.4879
4  102.6869  Sp_native-5  14417.0563  38.0603            474.0 -166.2298

In [53]:
df2_noDNA=cont_dna.merge(hnh_hy,on="Label", how="inner").merge(rec1_hy,on="Label", how="inner").merge(rec2_hy,on="Label", how="inner").merge(rec3_hy,on="Label", how="inner").merge(ruvc_hy,on="Label", how="inner")
df2_noDNA['Frames']=df2_noDNA['Label']
df2_noDNA.drop(['Label'], inplace=True, axis=1)
df2_noDNA.head()

,Sp-ntDNA-tDNA_native,Sp-ntDNA-tDNA-RuvC_non-native,Sp-hy-HNH_native,Sp-hy-HNH_non-native,Sp-hy-REC1_native,Sp-hy-REC1_non-native,Sp-hy-REC2_native,Sp-hy-REC2_non-native,Sp-hy-REC3_native,Sp-hy-REC3_non-native,Sp-hy-RuvC_native,Sp-hy-RuvC_non-native,Frames
0,501,0,66,0,688,0,45,0,473,0,729,0,Sp_native-1
1,407,50,50,40,522,142,30,5,366,167,500,269,Sp_native-2
2,403,66,60,35,503,118,34,0,329,160,483,235,Sp_native-3
3,413,92,53,36,466,105,35,15,356,165,536,279,Sp_native-4
4,388,76,50,49,448,115,34,20,333,161,496,271,Sp_native-5

In [59]:
df_noDNA=df1_noDNA.merge(df2_noDNA, how="inner", on='Frames')
df_noDNA.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 188927 entries, 0 to 188926
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Angle                          188927 non-null  object
 1   Frames                         188927 non-null  object
 2   SASA                           188927 non-null  float64
 3   ROG                            188927 non-null  float64
 4   sgRNA-tDNA cont                188927 non-null  float64
 5   LIE                            188927 non-null  float64
 6   Sp-ntDNA-tDNA_native           188927 non-null  int64
 7   Sp-ntDNA-tDNA-RuvC_non-native  188927 non-null  int64
 8   Sp-hy-HNH_native               188927 non-null  int64
 9   Sp-hy-HNH_non-native           188927 non-null  int64
 10  Sp-hy-REC1_native              188927 non-null  int64
 11  Sp-hy-REC1_non-native          188927 non-null  int64
 12  Sp-hy-REC2_native              188927 non-null  int64
 13  Sp-hy-REC2_non-native          188927 non-null  int64
 14  Sp-hy-REC3_native              188927 non-null  int64
 15  Sp-hy-REC3_non-native          188927 non-null  int64
 16  Sp-hy-RuvC_native              188927 non-null  int64
 17  Sp-hy-RuvC_non-native          188927 non-null  int64
dtypes: float64(4), int64(12), object(2)
memory usage: 27.4+ MB

In [60]:
df_noDNA.to_csv('final_input_output_SpCas9_EMX1_nodt_only_protein.csv', index= False)